<h1>2 Factor Authentication</h1>
<p> Enter the 6 digit verification code:</p>
<form method="POST" action="/verify-2fa">
    <input type="hidden" name="username" value="{{username}}" />
    <input name="code" placeholder="Enter code" />
    <button type="submit">Verify</button>
</form>
<br>

<a href="/login">Back to Login</a>